<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    </head>
        <body>
            <container id="layout">
                <header>
                    <a href="/"><img src="/images/valdismyckenlogga.png" alt="header"></a>
                </header>
                <div id="nav" class="ui secondary pointing menu row centered">
                    <a class="item active" href="/">
                        Hem
                    </a>
                    <a class="ui dropdown item" tabindex="0">Smycken<i class="dropdown icon"></i>
                        <div class="menu transition hidden">
                            <div class="ui left pointing dropdown link item">
                                <i class="dropdown icon"></i>
                                Ringar
                                <div class="menu">
                                    <div class="item">Förlovningsringar</div>
                                    <div class="item">Vigselringar</div>
                                    <div class="item">Ringar</div>
                                </div>
                            </div>
                            <div class="item">
                                Halsband
                            </div>
                            <div class="item">
                                Örhängen
                            </div>
                            <div class="item">
                                Specialbeställningar
                            </div>
                            <div class="item">
                                Varumärken
                            </div>
                        </div>
                    </a>
                    <a class="item" href="omoss">
                        Om oss 
                    </a>
                    <a class="item hidden" href="aktuellt">
                        Aktuellt 
                    </a>
                    <a class="item" href="kontakt">
                        Kontakt
                    </a>
                </div>
                    
                <section id="main">
            <!--Main content-->
            {{{ body }}}
                    </section>
                
                <footer>
                    <p>Kontakta oss här</p>
                </footer>
            
                </container>
        </body>
            
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/javascripts/semantic.min.js"></script>
    <script src="/javascripts/script.js"></script>
</html>
