<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Valdi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="../semantic-ui/dist/semantic.min.css" rel="stylesheet">
        <link href="../css/magnific.css" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="../css/style.css ">
    </head>
    <body>
        <div id="grid">
            <header>
                <a href="../index.html"><img src="../valdismyckenlogga.png" alt="header"></a>
            </header>
            <div id="menu-div">
              <h2 id="menu-btn">Meny</h2>
            </div>
            <nav id="nav" class="ui secondary pointing menu centered">
                <a class="item" href="../index.html">
                    Hem
                </a>
                <div class="ui dropdown item" tabindex="0">Smycken<i class="dropdown icon"></i>
                    <div class="menu transition hidden">
                        <div class="ui left pointing dropdown link item">
                            <i class="dropdown icon"></i>
                            Ringar
                            <div class="menu">
                                <div class="item"><a href="ringar/forlovningsringar.html">Förlovningsringar</a></div>
                                <div class="item"><a href="ringar/vigselringar.html">Vigselringar</a></div>
                                <div class="item"><a href="ringar/ringar.html">Ringar</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="halsband.html">Halsband</a>
                        </div>
                        <div class="item">
                            <a href="orhangen.html">Örhängen</a>
                        </div>
                        <div class="item">
                            <a href="special.html">Specialbeställningar</a>
                        </div>
                        <div class="item">
                            <a href="varumärken.html">Varumärken</a>
                        </div>
                    </div>
                </div>
                <a class="item" href="omoss.html">
                    Om oss
                </a>
                <a class="item" id="aktuellt" href="aktuellt.html">
                    Aktuellt
                </a>
                <a class="item" href="kontakt.html">
                    Kontakt
                </a>
            </nav>
            <main class="inside-grid">
                <section class="facebook">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvaldismycken%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="1200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </section>
                <section class="main"><h1>Varumärken</h1></section>
                <section class="instagram">
                    <!-- BYT -->
                    <div class="gallery">
                        <div id="instafeed" class="row"></div>
                    </div>
                </section>
            </main>
            <footer><h4>footer</h4></footer>
        </div>
        <!-- comment -->
        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>
        <!-- Semantic -->
        <script src="../semantic-ui/dist/semantic.min.js"></script>
        <script src="../js/jQ.js"></script>
        <!-- Instagram module -->
        <script src="../js/instafeed.min.js"></script>
        <!-- Popup -->
        <script src="../js/magnific.min.js"></script>
        <!-- Insta script -->
        <script src="../js/insta.js"></script>
    </body>
</html>
