
#layout{
    display: grid;
    grid-template-areas: 
        "header" "header" "header"
        "nav" "nav" "nav"
        "facebook" "main" "instagram"
        "footer" "footer" "footer"
};

#header{
    grid-area: header;
};

#main{
    grid-area: main;

};

#instagram{
    grid-area: instagram;
};

#facebook{
    grid-area: facebook;
};

#footer{
    grid-area: footer;
};

@media screen and (min-width: 600px) and (max-width: 1024px){
    #layout{
        grid-template-areas: 
        "header" "main" "side"
        "nav" "main" "side"
        "footer" "main" "side";
    };
    
    #facebook{
        grid-area: side;
    }
    
    #instagram{
        grid-area: side;
    }
    
};

@media screen and (max-width: 600px){
    #layout{
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer"
    };
};