<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Valdi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="../semantic-ui/dist/semantic.min.css" rel="stylesheet">
        <link href="../css/magnific.css" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="../css/style.css ">
    </head>
    <body>
        <div id="grid">
            <header>
                <a href="../index.html"><img src="../valdismyckenlogga.png" alt="header"></a>
            </header>
            <div id="menu-div">
                <h2 id="menu-btn">Meny</h2>
            </div>
            <nav id="nav" class="ui secondary pointing menu centered">
                <a class="item" href="../index.html">
                    Hem
                </a>
                <div class="ui dropdown item activey" tabindex="0">Smycken<i class="dropdown icon"></i>
                    <div class="menu transition hidden">
                        <div id="dropdown-rings" class="ui left pointing dropdown link item">
                            <i class="dropdown icon"></i>Ringar
                            <div id="delete-class" class="menu">
                                <a class="item" href="ringar/forlovningsringar.html">Förlovningsringar</a>
                                <a class="item" href="ringar/vigselringar.html">Vigselringar</a>
                                <a class="item" href="ringar/ringar.html">Ringar</a>
                            </div>
                        </div>
                        <a id="necklace" class="item" href="halsband.html">Halsband</a>
                        <a class="item" href="orhangen.html">Öronhängen</a>
                        <a class="item" href="special.html">Specialbeställningar</a>
                        <a class="item activey" href="varumärken.html">Varumärken</a>
                    </div>
                </div>
                <a class="item" href="../omoss.html">
                    Om oss
                </a>
                <a id="none" class="item" href="../foljoss.html">Följ oss</a>
                <a class="item" href="kontakt.html">
                    Kontakt
                </a>
            </nav>
            <main class="inside-grid">
                <section class="facebook">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvaldismycken%2F&tabs=timeline&width=380&height=900&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="1200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </section>
                <section class="main">
                    <h1 class="center">Varumärken</h1>
                    <div class="ui items">
                        <div class="item">
                            <a class="ui medium image">
                                <img src="../img/varumarken/gb-logo-cmyk.gif">
                            </a>
                            <div class="content">
                                <a class="header">Guldbolaget</a>
                                <div class="description">
                                    <p>Vår leverantör av småländska ringar. Proffs på förlovningsringar och vigselringar.</p>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="item">
                            <a class="ui medium image">
                                <img src="../img/varumarken/loggaSbyS.jpg">
                            </a>
                            <div class="content">
                                <a class="header">Sofie by Sofie</a>
                                <div class="description">
                                    <p>Lekfulla smycken skapade av Sophie Gyllenhammar.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="item">
                            <a class="ui medium image">
                                <img src="../img/varumarken/aglogga.gif">
                            </a>
                            <div class="content">
                                <a class="header">Annika Gustavsson</a>
                                <div class="description">
                                    <p>
                                        Annika Gustavsson är designer och guldsmed från Gotland.Hon tillverkar exklusivt handgjorda smycken med inspiration från den gotländska naturen.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="ui medium image">
                                <img src="../img/varumarken/MOM-logo.jpg">
                            </a>
                            <div class="content">
                                <a class="header">MOM of Sweden</a>
                                <div class="description">
                                    <p>Smycken from MOM of Sweden har alla ett budskap och talar för sig själva. De är för alla oss som älskar uttrycksfulla, modiga och tidlösa smycken.</p>
                                    <p>MOM of Sweden´s filosofi är enkel: Vi designar smycken som vi själva vill bära!</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="ui medium image">
                                <img src="../img/varumarken/CUlogga.jpg">
                            </a>
                            <div class="content">
                                <a class="header">C U /see-you</a>
                                <div class="description">
                                    <p>1. Vårt sätt att förverkliga våra drömmar.</p>
                                    <p>2. Hållbara smycken till varje tillfälle..</p>
                                    <p>3. Vackra, ädla metaller för att passa det skandinaviska livet.</p>
                                    <p>4. Två vänner och en Björn.</p>
                                    <p>5. Vi tänker, vi ritar, vi dricker kaffe och vi skapar.</p>
                                    <p>6. Det finns designers och det finns konstnärer, men vi har inga fina titlar, vi skapar bara smycken som vi tror på och saknar.</p>
                                    <p>7. Det finns många kollegor som är duktiga på vad de gör, men för oss saknades det något</p>
                                    <p>8. C U</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="ui medium image">
                                <img src="../img/varumarken/AV.gif">
                            </a>
                            <div class="content">
                                <a class="header">Annica Vallin</a>
                                <div class="description">
                                    <p>
                                        Annica Vallin är vår leverantör från Fiskebäck utanför Göteborg. Stilrena och klassiska smycken med
en modern twist som passar bra till det skandinaviska modets rena linjer.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="ui medium image">
                                <img src="../img/varumarken/sagenlogga.gif">
                            </a>
                            <div class="content">
                                <a class="header">Sägen</a>
                                <div class="description">
                                    <p>Sägen är historien om övergivna porslinsskatter och minnen. Svenska smyckesdesignern Elin Sigrén skapar en glänsande mix av det förflutna och framtiden, genom att kombinera det konstnärliga arvet från återvunnet porslin och vintagedetaljer med nutida, skandinavisk design.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="ui medium image">
                                <img src="../img/varumarken/enamellogo.jpg">
                            </a>
                            <div class="content">
                                <a class="header">Sägen</a>
                                <div class="description">
                                    <p>Sägen är historien om övergivna porslinsskatter och minnen. Svenska smyckesdesignern Elin Sigrén skapar en glänsande mix av det förflutna och framtiden, genom att kombinera det konstnärliga arvet från återvunnet porslin och vintagedetaljer med nutida, skandinavisk design.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="instagram">
                    <!-- BYT -->
                    <div class="gallery">
                        <div id="instafeed" class="row"></div>
                    </div>
                </section>
            </main>
            <footer>
                <a href="https://www.instagram.com/valdismycken/"><img class="instapic" src="../img/social/insta.png"></a>
                <a href="https://www.facebook.com/valdismycken/"><img class="facepic" src="../img/social/facebook.png"></a>
                
                <br><br>
                <p>Valdi Smycken AB, Kaggensgatan 7, 392 32 Kalmar. Tfn: 0480-422525.</p>
            </footer>
        </div>
        <!-- comment -->
        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>
        <!-- Semantic -->
        <script src="../semantic-ui/dist/semantic.min.js"></script>
        <script src="../js/jQ.js"></script>
        <!-- Instagram module -->
        <script src="../js/instafeed.min.js"></script>
        <!-- Popup -->
        <script src="../js/magnific.min.js"></script>
        <!-- Insta script -->
        <script src="../js/insta.js"></script>
        <!-- Vårat egna JavaScript -->
        <script src="js/script.js"></script>
    </body>
</html>
