<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <body>
            
            <!--Main content-->
            {{{ body }}}
            
        </body>
    </head>
</html>
