<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    </head>
        <body>
            <container class="ui stackable grid container">
                <div class="row centered">
                    <header>
                            <a href="/"><img src="/images/valdismyckenlogga.png" alt="header"></a>
                    </header>
                </div>
                <div class="ui secondary pointing menu row centered">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                    <div class="right menu">
                        <a class="ui item">
                            Logout
                        </a>
                    </div>
                </div>
                
            <!--Main content-->
            {{{ body }}}
            
                </container>
        </body>
            
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/javascripts/semantic.min.js"></script>
</html>
